docs/templates_1/Intent recognition customer service.yml
app:
  description: ''
  icon: 💭
  icon_background: '#FCE7F6'
  mode: advanced-chat
  name: Intent recognition customer service
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables:
  - description: Actually, it's another question.
    id: f1a7d731-e125-47ac-afc8-6d132a239244
    name: other
    selector:
    - conversation
    - other
    value: Actually, it's another question.
    value_type: string
  - description: Real issues
    id: a30fc12a-aabb-4a3e-ba6a-f72b09fb3125
    name: real
    selector:
    - conversation
    - real
    value: Real issues
    value_type: string
  - description: ''
    id: a30b3948-827f-4486-af74-1b50eef5b5fd
    name: solution
    selector:
    - conversation
    - solution
    value: ''
    value_type: string
  - description: ''
    id: f0022518-86b8-4ec7-918a-d5328bd9cf5e
    name: issue_type
    selector:
    - conversation
    - issue_type
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: assigner
      id: 1724912692740-source-1724913537607-target
      selected: false
      source: '1724912692740'
      sourceHandle: source
      target: '1724913537607'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1724912630775-source-1724914124744-target
      selected: false
      source: '1724912630775'
      sourceHandle: source
      target: '1724914124744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1724912630775-source-1724915540252-target
      selected: false
      source: '1724912630775'
      sourceHandle: source
      target: '1724915540252'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: question-classifier
      id: 1724915540252-true-17249155800090-target
      selected: false
      source: '1724915540252'
      sourceHandle: 'true'
      target: '17249155800090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: assigner
      id: 1724915949908-source-1724916112410-target
      selected: false
      source: '1724915949908'
      sourceHandle: source
      target: '1724916112410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 1724914124744-true-1724916169899-target
      selected: false
      source: '1724914124744'
      sourceHandle: 'true'
      target: '1724916169899'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1724916169899-source-1724912692740-target
      selected: false
      source: '1724916169899'
      sourceHandle: source
      target: '1724912692740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: llm
      id: 1724916112410-source-17249167433220-target
      selected: false
      source: '1724916112410'
      sourceHandle: source
      target: '17249167433220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1724915540252-efaa0a07-cb91-4358-9ea4-ca1b550b3ee1-17249167663430-target
      selected: false
      source: '1724915540252'
      sourceHandle: efaa0a07-cb91-4358-9ea4-ca1b550b3ee1
      target: '17249167663430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1724915540252-c01fffc1-d772-48b0-bfbb-3b7764f630de-17249168544180-target
      selected: false
      source: '1724915540252'
      sourceHandle: c01fffc1-d772-48b0-bfbb-3b7764f630de
      target: '17249168544180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249168497340-source-1724916910152-target
      selected: false
      source: '17249168497340'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249167433220-source-1724916910152-target
      selected: false
      source: '17249167433220'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249166812450-source-1724916910152-target
      selected: false
      source: '17249166812450'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249168544180-source-1724916910152-target
      selected: false
      source: '17249168544180'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249167663430-source-1724916910152-target
      selected: false
      source: '17249167663430'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: answer
      id: 1724916910152-source-1724916995353-target
      selected: false
      source: '1724916910152'
      sourceHandle: source
      target: '1724916995353'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: assigner
      id: 17249155800090-1724913398262-1724918007522-target
      selected: false
      source: '17249155800090'
      sourceHandle: '1724913398262'
      target: '1724918007522'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: template-transform
      id: 1724918007522-source-1724915949908-target
      selected: false
      source: '1724918007522'
      sourceHandle: source
      target: '1724915949908'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: assigner
      id: 17249155800090-2-1724918083842-target
      selected: false
      source: '17249155800090'
      sourceHandle: '2'
      target: '1724918083842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: llm
      id: 1724918083842-source-17249168497340-target
      selected: false
      source: '1724918083842'
      sourceHandle: source
      target: '17249168497340'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 17249155800090-1724915840331-17249166812450-target
      selected: false
      source: '17249155800090'
      sourceHandle: '1724915840331'
      target: '17249166812450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1724915540252-bad3c2fe-7371-427a-a367-e79a73f1c3ba-17249181527330-target
      selected: false
      source: '1724915540252'
      sourceHandle: bad3c2fe-7371-427a-a367-e79a73f1c3ba
      target: '17249181527330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17249181527330-source-1724916910152-target
      selected: false
      source: '17249181527330'
      sourceHandle: source
      target: '1724916910152'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: start
        type: start
        variables: []
      height: 54
      id: '1724912630775'
      position:
        x: 30
        y: 280
      positionAbsolute:
        x: 30
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Knowledge Base (Backend Research)
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: ca6031a3-0909-4859-b988-b47c4859ce35
          role: system
          text: 'You are a Q&A robot, used to answer questions.


            The information retrieved from the knowledge base is

            {{#1724916169899.output#}}'
        - id: 79822e1b-323d-438c-8073-fc882ecfddd6
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: Q&A Robot Agent
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 158
      id: '1724912692740'
      position:
        x: 1101.0596284996334
        y: 280
      positionAbsolute:
        x: 1101.0596284996334
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - solution
        desc: (Background research)
        input_variable_selector:
        - '1724912692740'
        - text
        selected: false
        title: Storage Solutions
        type: assigner
        write_mode: over-write
      height: 160
      id: '1724913537607'
      position:
        x: 1378.637423054928
        y: 280
      positionAbsolute:
        x: 1378.637423054928
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 1ee333ec-2e02-4644-84c1-6e2ec78e1623
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        desc: When starting the session for the first time, run in parallel.
        selected: false
        title: Background research
        type: if-else
      height: 202
      id: '1724914124744'
      position:
        x: 498.1956798202368
        y: 280
      positionAbsolute:
        x: 498.1956798202368
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Dify
        desc: ''
        height: 391
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Scene
          Inspiration:","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"A
          new user on Discord immediately asked: \"I''m having issues with my RAG
          knowledge base, I can''t update the segment using the API. What should I
          do?\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"I
          replied: \"Can you describe your specific scenario? It would be great if
          you could provide some screenshots.\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          new user said: \"I''m a restaurant owner and I want to record the order
          data from my several branches in ''real-time'' and then have AI analyze
          it for me.\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"I
          responded: \"The purpose of a knowledge base is to store ''knowledge,''
          but what you''re dealing with is about storing and analyzing ''logs.'' ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"You
          need an Excel spreadsheet, or high-performance SQL, or even simpler KV as
          an MVP - just try that first.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Instead
          of awkwardly using (or misusing) the RAG database.\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 390
      height: 391
      id: '1724914702798'
      position:
        x: 1694.1712848738682
        y: 45.92865208137914
      positionAbsolute:
        x: 1694.1712848738682
        y: 45.92865208137914
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 390
    - data:
        author: Dify
        desc: ''
        height: 167
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"A typical Q&A robot can only answer questions and cannot
          apply advanced knowledge such as first principles.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 272
      height: 167
      id: '1724915005126'
      position:
        x: 929.5857268303071
        y: 45.92865208137914
      positionAbsolute:
        x: 929.5857268303071
        y: 45.92865208137914
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 272
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≠
            id: 504e8b30-3b7a-4b24-8788-3f580d12fdb0
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          - comparison_operator: empty
            id: 29903251-9014-4d1d-a4ab-044bd0be2712
            value: 不清楚
            varType: string
            variable_selector:
            - conversation
            - issue_type
          id: 'true'
          logical_operator: and
        - case_id: c01fffc1-d772-48b0-bfbb-3b7764f630de
          conditions:
          - comparison_operator: is
            id: 55cd2dd6-d3d4-460f-9d30-478dbd142b25
            value: Real issues
            varType: string
            variable_selector:
            - conversation
            - issue_type
          id: c01fffc1-d772-48b0-bfbb-3b7764f630de
          logical_operator: and
        - case_id: efaa0a07-cb91-4358-9ea4-ca1b550b3ee1
          conditions:
          - comparison_operator: is
            id: 1e0c3f6b-3856-4270-a6b4-f589286476f6
            value: Actually, it's another question.
            varType: string
            variable_selector:
            - conversation
            - issue_type
          id: efaa0a07-cb91-4358-9ea4-ca1b550b3ee1
          logical_operator: and
        - case_id: bad3c2fe-7371-427a-a367-e79a73f1c3ba
          conditions:
          - comparison_operator: '='
            id: a3a68148-3da6-407c-995e-d83020e3dd47
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: bad3c2fe-7371-427a-a367-e79a73f1c3ba
          logical_operator: and
        desc: ''
        selected: false
        title: Conditional branching
        type: if-else
      height: 296
      id: '1724915540252'
      position:
        x: 498.1956798202368
        y: 988.158917956991
      positionAbsolute:
        x: 498.1956798202368
        y: 988.158917956991
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '2'
          name: '"Question" classifier'
        - id: '1724913398262'
          name: Users may have better options.
        - id: '1724915840331'
          name: The user is still unclear about what exactly he wants.
        desc: ''
        instruction: Your task is to determine whether the user understands the problem
          they are facing and if the previous step was correct. <example> The purpose
          of a knowledge base is to store "knowledge," but what the user may need
          is storage and analysis of "logs." In that case, they might require an Excel
          spreadsheet, high-performance SQL, or a simpler KV as an MVP - just to test
          the effectiveness first. Instead of rigidly using (or misusing) a RAG database.
          In this situation, you should choose "the user may have better options."</example>
        instructions: ''
        memory:
          query_prompt_template: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        query_variable_selector:
        - '1724912630775'
        - sys.query
        selected: true
        title: '"Question" classifier'
        topics: []
        type: question-classifier
      height: 304
      id: '17249155800090'
      position:
        x: 498.1956798202368
        y: 663.4719421926416
      positionAbsolute:
        x: 498.1956798202368
        y: 663.4719421926416
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: For SQL and table access, please upgrade to a paid user or contact
          Dify's enterprise business department.
        title: Knowledge Base RAG
        type: template-transform
        variables: []
      height: 54
      id: '1724915949908'
      position:
        x: 1101.0596284996334
        y: 486.3807074967066
      positionAbsolute:
        x: 1101.0596284996334
        y: 486.3807074967066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - solution
        desc: ''
        input_variable_selector:
        - '1724915949908'
        - output
        selected: false
        title: Update solution
        type: assigner
        write_mode: over-write
      height: 132
      id: '1724916112410'
      position:
        x: 1378.637423054928
        y: 486.3807074967066
      positionAbsolute:
        x: 1378.637423054928
        y: 486.3807074967066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: (Background research)
        selected: false
        template: 'To update the knowledge base segment, you need to upgrade to a
          paid user for either the self-hosted or SaaS (Cloud) version.


          '
        title: Knowledge Base RAG
        type: template-transform
        variables: []
      height: 82
      id: '1724916169899'
      position:
        x: 802.7562848905691
        y: 291.4107287224173
      positionAbsolute:
        x: 802.7562848905691
        y: 291.4107287224173
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Perhaps there is no problem, but rather the user is lost. You are a
          Q&A robot designed to answer questions. However, let's take a step back
          and ask what their initial motivation was before inquiring about their willingness.
          If there is one, then please try to resolve it with them using a non-technical
          approach.
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 616ccbd7-4f04-49da-8adf-eaed123ee334
          role: system
          text: Perhaps there is no problem, but rather the user is lost. You are
            a Q&A robot designed to answer questions. However, let's take a step back
            and ask what their initial motivation was before inquiring about their
            willingness. If there is one, then please try to resolve it with them
            using a non-technical approach.
        selected: false
        title: Identifying the real issue
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 390
      id: '17249166812450'
      position:
        x: 1101.0596284996334
        y: 898.5407239797723
      positionAbsolute:
        x: 1101.0596284996334
        y: 898.5407239797723
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 371c1c7d-509b-4c3d-b789-d81faabbec35
          role: system
          text: 'You are a Q&A robot. After going through some steps, you realized
            that the user''s question is actually another one. This is information
            related to that field.

            {{#conversation.solution#}}

            Please patiently assist the users in the group.'
        selected: false
        title: A more suitable answer
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '17249167433220'
      position:
        x: 1699.380562899304
        y: 486.3807074967066
      positionAbsolute:
        x: 1699.380562899304
        y: 486.3807074967066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 371c1c7d-509b-4c3d-b789-d81faabbec35
          role: system
          text: 'You are a Q&A robot, but after some steps, you realize that the user''s
            question is actually another one. This is information related to that
            field.

            {{#conversation.solution#}}

            Please patiently help the user.'
        selected: false
        title: A more suitable answer (1)
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 122
      id: '17249167663430'
      position:
        x: 1101.0596284996334
        y: 1330.7902324724469
      positionAbsolute:
        x: 1101.0596284996334
        y: 1330.7902324724469
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Combining the results of "background research" with specific user scenarios
          = intelligent responses.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 8bd3e708-4cd1-437a-b0ff-6571f1dce6a5
          role: system
          text: 'You are an intelligent and user-friendly Q&A robot.


            This is important information after consulting the knowledge base..{{#conversation.solution#}}.


            Please help the user achieve their goals using our products and services.'
        selected: false
        title: Directly answer the question.
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 246
      id: '17249168497340'
      position:
        x: 1378.637423054928
        y: 690.3647845866751
      positionAbsolute:
        x: 1378.637423054928
        y: 690.3647845866751
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Combining the results of "background research" with specific user scenarios
          = intelligent responses.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 8bd3e708-4cd1-437a-b0ff-6571f1dce6a5
          role: system
          text: 'You are an intelligent and user-friendly Q&A robot. This is important
            information after consulting the knowledge base.

            {{#conversation.solution#}}


            Please help the user achieve their goals using our products and services.'
        selected: false
        title: Directly answer the question.
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 246
      id: '17249168544180'
      position:
        x: 1101.0596284996334
        y: 1134.7486477236678
      positionAbsolute:
        x: 1101.0596284996334
        y: 1134.7486477236678
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: Smarter Q&A robot
        type: variable-aggregator
        variables:
        - - '17249168497340'
          - text
        - - '17249167433220'
          - text
        - - '17249166812450'
          - text
        - - '17249168544180'
          - text
        - - '17249167663430'
          - text
        - - '17249181527330'
          - text
      height: 243
      id: '1724916910152'
      position:
        x: 2221.2129385952726
        y: 909
      positionAbsolute:
        x: 2221.2129385952726
        y: 909
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1724916910152.output#}}'
        desc: ''
        selected: false
        title: Direct reply
        type: answer
        variables: []
      height: 107
      id: '1724916995353'
      position:
        x: 2521.408820305187
        y: 909
      positionAbsolute:
        x: 2521.408820305187
        y: 909
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Dify
        desc: ''
        height: 214
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"An agent is researching information behind the scenes, while
          another LLM understands the situation and provides answers to help the user.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 315
      height: 214
      id: '1724917065786'
      position:
        x: 1311.7503392197868
        y: 45.92865208137914
      positionAbsolute:
        x: 1311.7503392197868
        y: 45.92865208137914
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 315
    - data:
        assigned_variable_selector:
        - conversation
        - issue_type
        desc: ''
        input_variable_selector:
        - conversation
        - other
        selected: false
        title: Update issue type
        type: assigner
        write_mode: over-write
      height: 132
      id: '1724918007522'
      position:
        x: 802.7562848905691
        y: 486.3807074967066
      positionAbsolute:
        x: 802.7562848905691
        y: 486.3807074967066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - issue_type
        desc: ''
        input_variable_selector:
        - conversation
        - real
        selected: false
        title: Update issue type
        type: assigner
        write_mode: over-write
      height: 132
      id: '1724918083842'
      position:
        x: 1101.0596284996334
        y: 690.3647845866751
      positionAbsolute:
        x: 1101.0596284996334
        y: 690.3647845866751
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Perhaps there is no problem, but rather the user is lost. You are a
          Q&A robot designed to answer questions. However, let's take a step back
          and ask what their initial motivation was before inquiring about their willingness.
          If there is one, then please try to resolve it with them using a non-technical
          approach.
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 616ccbd7-4f04-49da-8adf-eaed123ee334
          role: system
          text: '"Perhaps there is no problem, but the user has gotten lost." You
            are a Q&A robot designed to answer questions. However, let''s take a step
            back and ask what their initial motivation was before inquiring about
            their willingness. If there is one, then please try to resolve it with
            them using a non-technical solution.'
        selected: false
        title: Identifying the real issue (1)
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 390
      id: '17249181527330'
      position:
        x: 1101.0596284996334
        y: 1476.6238934773307
      positionAbsolute:
        x: 1101.0596284996334
        y: 1476.6238934773307
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 322.2404774011278
      y: -147.13301925516623
      zoom: 0.4922683196630317
