docs/templates_1/Long Story Generator (Iteration) .yml
app:
  description: ''
  icon: 📄
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 'Long Story Generator (Iteration) '
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1716783101349-source-1716783205923-target
      source: '1716783101349'
      sourceHandle: source
      target: '1716783205923'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1716783205923-source-1716783405935-target
      source: '1716783205923'
      sourceHandle: source
      target: '1716783405935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1716783405935-source-1716786291494-target
      source: '1716783405935'
      sourceHandle: source
      target: '1716786291494'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1716786291494-source-1716786321875-target
      source: '1716786291494'
      sourceHandle: source
      target: '1716786321875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1716786321875-source-1716786344896-target
      source: '1716786321875'
      sourceHandle: source
      target: '1716786344896'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Title
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: article_title
        - label: Outline
          max_length: 33024
          options: []
          required: true
          type: paragraph
          variable: article_outline
      height: 115
      id: '1716783101349'
      position:
        x: 30
        y: 310
      positionAbsolute:
        x: 30
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 872364eb-6859-4011-b830-e9d547b2a2b4
          role: system
          text: "<instruction>\nYou are to write a long article based on a provided\
            \ title and outline. Follow these steps to complete the task:\n1. Use\
            \ the article_title as the title of the article.\n2. Organize the article\
            \ based on the article_outline provided. Each section in the outline should\
            \ correspond to a section in the article.\n3. Ensure that the article\
            \ is well-developed, with each section containing detailed information,\
            \ explanations, examples, and any other relevant content to fully cover\
            \ the topic.\n4. Ensure smooth transitions between sections to maintain\
            \ a coherent flow.\n5. The output should be free from any XML tags. Provide\
            \ only JSON array with the following keys and values: \"section\" (the\
            \ title of each section of the article), \"bullets\" (an outline for each\
            \ section of the article). \n<example>\n<input>\n<article_title> The Impact\
            \ of Climate Change on Coastal Cities </article_title>\n<article_outline>\
            \ \n  1. Introduction\n  2. Rising Sea Levels\n  3. Increased Storm Frequency\n\
            \  4. Conclusion\n</article_outline>\n</input>\n<output>\n [\n    {\n\
            \      \"section\": \"Introduction\",\n      \"bullets\": \"1. Overview\
            \ of climate change effects on coastal cities 2. Importance of understanding\
            \ these impacts\"\n    },\n    {\n      \"section\": \"Rising Sea Levels\"\
            ,\n      \"bullets\": \"1. Causes of rising sea levels 2. Effects on coastal\
            \ infrastructure and communities3. Examples of affected cities\"\n   \
            \ },\n   {\n      \"section\": \"Increased Storm Frequency\",\n      \"\
            bullets\": \"1. Link between climate change and storm frequency 2. Impact\
            \ of more frequent and severe storms on coastal areas 3. Case studies\
            \ of recent storms\"\n    }, \n   {\n      \"section\": \"Conclusion\"\
            ,\n      \"bullets\": \"1. Summary of key points 2. The urgency of addressing\
            \ climate change 2. Call to action for policymakers and communities\"\n\
            \    }\n  ]\n</output>\n</example>\n</instruction>\n<input>\n<article_title>\
            \ {{#1716783101349.article_title#}} </article_title>\n\n<article_outline>\
            \ {{#1716783101349.article_outline#}} </article_outline>\n</input>\n<output>\n\
            \  "
        selected: false
        title: Generate Subtitles and Outlines
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1716783205923'
      position:
        x: 334
        y: 310
      positionAbsolute:
        x: 334
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: str) -> dict:\n    import json\n    data = json.loads(arg1)\n\
          \    \n    # Create an array of objects\n    result = [{'section': item[\"\
          section\"], 'bullets': item[\"bullets\"]} for item in data]\n    \n    return\
          \ {\n        'result': result\n    }"
        code_language: python3
        desc: 'Extract section titles. '
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: Extract Subtitles and Outlines
        type: code
        variables:
        - value_selector:
          - '1716783205923'
          - text
          variable: arg1
      height: 83
      id: '1716783405935'
      position:
        x: 638
        y: 310
      positionAbsolute:
        x: 638
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Generate Long Story Section by Section '
        height: 220
        iterator_selector:
        - '1716783405935'
        - result
        output_selector:
        - '1716805725916'
        - text
        output_type: array[string]
        selected: false
        startNodeType: llm
        start_node_id: '1716805725916'
        title: Iteration
        type: iteration
        width: 418
      height: 220
      id: '1716786291494'
      position:
        x: 942
        y: 310
      positionAbsolute:
        x: 942
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 418
      zIndex: 1
    - data:
        code: "\ndef main(articleSections: list):\n    data = articleSections\n  \
          \  return {\n        \"result\": \"\\n\".join(data)\n    }\n"
        code_language: python3
        desc: 'Transform Array from Iteration to String. '
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1716786291494'
          - output
          variable: articleSections
      height: 101
      id: '1716786321875'
      position:
        x: 1420
        y: 310
      positionAbsolute:
        x: 1420
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1716786321875.result#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 106
      id: '1716786344896'
      position:
        x: 1724
        y: 310
      positionAbsolute:
        x: 1724
        y: 310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isIterationStart: true
        iteration_id: '1716786291494'
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 0c84c8c2-bcde-43be-a392-87cd04b40674
          role: system
          text: "You are an expert document writer. Your job is to write long form\
            \ cohesive content. \n"
        - id: a661230f-2367-4f35-98d8-d9d608745354
          role: user
          text: "You are writing a document called {{#1716783101349.article_title#}}.\
            \ Write a section based on the following information: {{#1716786291494.item#}}.\
            \  \n\n\n<Full outline>\nTake the full outline as a reference when generating\
            \ full article. \n{{#1716783205923.text#}}"
        selected: false
        title: 'LLM '
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      extent: parent
      height: 97
      id: '1716805725916'
      parentId: '1716786291494'
      position:
        x: 85
        y: 85
      positionAbsolute:
        x: 1027
        y: 395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1001
    - data:
        author: Dify
        desc: ''
        height: 352
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Input
          the structure of the article you want to generate. For example, if you want
          to create an article titled \"The 5 Most Enlightening Stories of Zhuangzi
          That Healed My Mental Exhaustion,\" the article could include five stories
          respectively about evaluation, gains and losses, dilemmas, choices, and
          mindset.","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          16px;","text":"Input Variables Example:","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          ","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":1},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"article_title:
          ","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          5 Most Enlightening Stories of Zhuangzi That Healed My Mental Exhaustion
          ","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":1},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"article_outline:
          ","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"Five
          stories about evaluation, gains and losses, dilemmas, choices, and mindset","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":1}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 302
      height: 352
      id: '1718921931704'
      position:
        x: 18.571428571428555
        y: 465.7142857142857
      positionAbsolute:
        x: 18.571428571428555
        y: 465.7142857142857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 302
    - data:
        author: Dify
        desc: ''
        height: 451
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          16px;","text":"Steps:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          Use the LLM node to generate JSON about subtitles and the content under
          the subtitles. For better results, you can add context and article structure
          to the content.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          Use the Code node to parse the JSON and pass it to the iteration node for
          segmentation.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          16px;","text":"JSON Example:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"[","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  {","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"    \"section\":
          \"The Story About Evaluation\",","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"    \"bullets\":
          \"Zhuangzi''s story about evaluation...\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  },","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  {","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"    \"section\":
          \"The Story About Gains and Losses\",","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"    \"bullets\":
          \"Zhuangzi''s story about gains and losses...\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  }","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"  ......","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"]","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 553
      height: 451
      id: '1718921982319'
      position:
        x: 357.14285714285717
        y: 464.28571428571433
      positionAbsolute:
        x: 357.14285714285717
        y: 464.28571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 553
    - data:
        author: Dify
        desc: ''
        height: 124
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Use ","type":"text","version":1},{"detail":0,"format":16,"mode":"normal","style":"","text":"\"\\n\".join(data)","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":" to
          convert the iterated output array into a single string.","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"You
          can achieve the same effect by using the template node ","type":"text","version":1},{"detail":0,"format":16,"mode":"normal","style":"","text":"{{
          argument | join(\"\\n\") }}","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":".","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 586
      height: 124
      id: '1718922045070'
      position:
        x: 1411.4285714285716
        y: 464.28571428571433
      positionAbsolute:
        x: 1411.4285714285716
        y: 464.28571428571433
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 586
    viewport:
      x: 161
      y: -71
      zoom: 0.7
